.cabecera{
  position: relative;

  width: 100%;
  height: 95%;
}


html {
  scroll-behavior: smooth;
}

body{
  width: 100%;
  margin: auto;
  background-color: #F4F4F4;
}

h1{
  margin-left: 1%;
  color: #40A0D8;
}

/*index*/
#bienvenida{
  float: left;
  margin-right: 5%;
}
#h1noticias{
  float: right;
  margin-right: 10%;
}

.foto_noticia{
  width: 75px;
  border-radius: 100px 100px 100px 100px;
}

#boton_scroll{
  position: absolute;
  width: 5%;
  left: 45%;
  top: 90%;
  opacity: 0.6;
}

.texto{
  width: 60%;
  text-align: justify;
  float: left;
}

.container{
  position: static;
  width: 100%;
}

.noticia{
  width:30%;
  float: right;
  background-color: GHOSTWHITE;
}

.parrafo{
  margin-left: 1%;
}

/*inscripcion*/
#inscripcion{
  position: absolute;
  left: 5%;
  top: 80%;
  width: 23%;
}

#bloque_formulario{
  float: left;
  width: 35%;
  border-radius: 3%;
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 1%;
  background-color: #c3c3c3;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 70px 0px 70px 0px;
  -moz-border-radius: 70px 0px 70px 0px;
  -webkit-border-radius: 70px 0px 70px 0px;
  border: 2px solid #5878ca;
}

#login{
  background-color: #c3c3c3;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 2px solid #FFFFFF;
}

#abonos{
  float: left;
  font-size: 20px;
  margin-right: 2%;
  border-radius: 3%;
  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: 1%;
  width: 40%;
  min-height: 335px;
  background-color: #c3c3c3;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 70px 0px 70px 0px;
  -moz-border-radius: 70px 0px 70px 0px;
  -webkit-border-radius: 70px 0px 70px 0px;
  border: 2px solid #5878ca;

}


#izq{
    width: 33%;
    margin-left: 0%;
    height: 100%;
    float:left;
    cursor: pointer;
  }

  #centro{
    width: 27%;
    margin-left: 6%;
    height: 100%;
    float:left;
    cursor: pointer;
  }

  #der{
    width: 30%;
    height: 100%;
    float:right;
    cursor: pointer;
  }


#abonos > p{
  margin-left: 2%;
  margin-right: 1%;
  text-align: justify;
}


#formulario{
  font-size: 20px;
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#boton_enviar{
  outline:none;
  margin-top: 5%;
  font-size: 20px;
  margin-left: 40%;
  background-color: black;
  color: white;
}

/*generico*/
form label {
    display: inline-block;
    width: 190px;
}

li{
  padding-bottom: 5%;
  list-style: none;
}


li > p{
  margin: auto;
  float: right;
}

/*admin.html*/

#global_operations{
  display: inline-block;  
  position: sticky;
  padding-left: 30px;
  padding-top: 10px;

}


#particular_operations{
  display: inline-block;  
  padding-left: 100px;
}


/* The switch - the box around the slider */
#outputBox{
  text-align: center;
  word-wrap: break-word;
  padding-top: 1px;

}

li#resUser{
  background: #5EB9F4;
  list-style-position: inside;
  list-style-type: circle;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: 10px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox_text {
  padding-left: 10px;
  white-space: nowrap;
}

/**/

.footer{
  margin-left: -0.7%;
}

#check_container{
  margin-left: 3%;
  margin-top: 3%;
}





.hola{
  display: block;
  position: absolute;
  font-size: 20px;
  margin-left: 80%;
  color: white;
}

#head{
  margin-left: -0.7%;
  margin-top: -1%;
}

#footer{
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: -10%;
}

/*programacion*/
#programacion{
  position: absolute;
  left: 70%;
  top: 80%;
  width: 25%;
}

.programacion_horarios{
  margin-top: 5%;
  width: 30%;
  height: 60%;
  background-color: grey;
}

.programacion_conferencias{
  width: 70%;
  background-color: white;
}

#recuadro_botones{
  background-color: #570000;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
}

/*cambiar el estilo de los botones de la programacion*/
#recuadro_botones > button{
  background-color: #570000;
  font-size: 14px;
  color: white;
  outline: none;
  border: none;
  cursor:pointer;
}

.esquema_horarios{
  width: 70%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*en principio estas 2 estarán ocultas*/
#sabado{
  display: none;
}

#domingo{
  display: none;
}

/*localizacion*/
.localizacion_izquierda{
  float: left;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;
}

#localizacion{
  position: absolute;
  left: 38%;
  top: 80%;
  width: 25%;
}

.localizacion_derecha{
  float: right;
  width: 60%;
  border-radius: 2%;
  margin: 2%;
  background-color: rgba(156,156,156,0.2);
    border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
}

.localizacion_derecha > p{
  margin: 2%;
  text-align: justify;
}

#mapa{
  width: 40%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#imagen{
  width: 100%;
}
